<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include common/required.html %>
  <link href="/stylesheets/diandian.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/admin_user_updatePassword.js"></script>
</head>
<body>

<input type="hidden" id="userId" value="<%=user._id %>" >
<input type="hidden" id="id" value="<%=user.userName %>" >

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="page-content">
      <div class="row tableheader col-lg-8">
        <div class="pull-left">
          <h4><%=i('html.label.user.updatePassword') %><!--修改密码--></h4>
        </div>
      </div>
      <div class="row col-lg-8 box-border" id="sub-container">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputOldPassword" class="col-lg-2 control-label"><%=i('html.label.user.oldPassword') %><!--原始密?--></label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="inputOldPassword" placeholder="<%=i('html.label.user.oldPassword') %>" maxlength="20">
            </div>
          </div>
          <div class="form-group">
            <label for="inputNewPassword" class="col-lg-2 control-label"><%=i('html.label.user.newPassword') %><!----></label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="inputNewPassword" placeholder="<%=i('html.label.user.newPassword') %>" maxlength="20">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRepeatNewPassword" class="col-lg-2 control-label"><%=i('html.label.user.repeatNewPassword') %><!--重?新密?--></label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="inputRepeatNewPassword" placeholder="<%=i('html.label.user.repeatNewPassword') %>" maxlength="20">
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-8" style="margin-bottom: 30px;padding: 0px;">
        <div id="save" class="col-lg-2 btn btn-default btn-lg">
          <%=i('html.button.common.save') %><!--保存-->
        </div>
      </div>

      <div id="message" class="col-lg-8" style="display: none;">
        <p class="text-success" style="font-size: 20px;padding-left: 50px;"><%=i('js.common.update.success') %></p>
      </div>

    </div>
  </div>
</div>


<script>
  var i18n = {
      "js.common.update.error": "<%=i('js.common.update.error') %>"
    , "js.common.update.success": "<%=i('js.common.update.success') %>"
    , "js.public.check.user.oldPasswordIsEmpty": "<%=i('js.public.check.user.oldPasswordIsEmpty') %>"
    , "js.public.check.user.newPasswordIsEmpty": "<%=i('js.public.check.user.newPasswordIsEmpty') %>"
    , "js.public.check.user.passwordNotSame": "<%=i('js.public.check.user.passwordNotSame') %>"
  };

</script>

</body>
</html>