
<HTML>
<HEAD>
	<TITLE>Cross Archives</TITLE>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="archives.css" />
	<STYLE  type="text/css">
		*{
			margin : 0px;
			padding : 0px;
		}


		h1{
			font-size : 115%;
			font-family : sans-serif;
			background-color: rgb(198,198,198);
			padding-top : 20px;
			padding-bottom : 20px;
			margin-bottom :20px;
			color : rgb(114,35,173);
		}

		a{
			text-decoration: none;
		}


		li{
			margin-left : 30px;
			margin-bottom : 15px;
			line-height: 115%;
		}

		div.description{
			font-size : 80%;
			color : #444;
		}

	</STYLE>
</HEAD>
<BODY>

<H1> 点点菜 发布</H1>

<ul>
	<li><a href="itms-services://?action=download-manifest&url=http://115.28.161.172:3000/archive/DiandianIOS_104.plist">点点菜  正式版</a><div class='description'>(Ver 1.04)</div>
	<li><a href="itms-services://?action=download-manifest&url=http://115.28.161.172:3000/archive/DiandianIOS_103.plist">点点菜  正式版</a><div class='description'>(Ver 1.03)</div>

		<li><a href="itms-services://?action=download-manifest&url=http://115.28.161.172:3000/archive/DiandianIOS_102.plist">点点菜  测试版</a><div class='description'>(Ver 1.02)</div>

	<li><a href="itms-services://?action=download-manifest&url=http://115.28.161.172:3000/archive/DiandianIOS_101.plist">点点菜  FOR 滋味厨房</a><div class='description'>(Ver 1.01)</div>

	<li><a href="itms-services://?action=download-manifest&url=http://115.28.161.172:3000/archive/DiandianIOS.plist">点点菜 FOR 滋味厨房</a><div class='description'>(Ver 1.0)</div>

</ul>

</BODY>
</HTML>
