<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/diandian.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/menu_menu_list.js"></script>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/diandian"><%= i('html.label.common.home') %><!--主页--></a>
              <span class="divider">
                <i class="icon-chevron-right arrow-icon"></i>
              </span>
        </li>
        <li class="active"><%= i('html.label.menu.menu') %><!--菜单--></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">

        <div class="pull-right">
          <button id="addMenu" type="button" class="btn btn-default">
            <i class="icon-plus icon-white"></i>
            <span><%= i('html.button.menu.add') %><!--菜单追加--></span>
          </button>

          <input type="file" id="uploadfile" style="display: none" multiple="multiple" accept=".mp4, .png, .jpg, .jpeg, .jpe, .gif, .bmp" />
        </div>

        <div class="pull-right" style="width: 300px">
          <form class="search-form" onsubmit="return false;">
            <div class="input-group">
              <input id="txt_search" type="text" placeholder="<%= i('html.label.common.search') %>(<%= i('html.label.menu.name') %>)" class="form-control"  autocomplete="off" />
                <span id="doSearch" class="input-group-addon">
                  <i class="icon-search"></i>
                </span>
            </div>
          </form>
        </div>
      </div>

      <!-- 一览表示 -->
      <div id="list" class="row">
        <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
            <tr>
                <th><%= i('html.label.menu.no') %><!--号码--></th>
                <th><%= i('html.label.menu.name') %><!--菜单名字--></th>
                <th><%= i('html.label.menu.comment') %><!--介绍--></th>
                <th><%= i('html.label.menu.status') %><!--状态--></th>
                <th><%= i('html.label.common.updateat') %><!--更新时间--></th>
                <th><%= i('html.label.common.operation') %><!-- 操作--></th>
            </tr>
          </thead>
          <tbody id="menu_list"></tbody>
        </table>
        </div><!--/span-->
        </div>

      <div class="pagination-area" id="pagination_area"></div>

    </div>
  </div>

</div>

<script type="text/template" id="tmpl_menu_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{comment}}</td>
    <td>{{status}}</td>
    <td>{{editat}}</td>
    <td>
      <a href="#" class="btn btn-default btn-sm" rowId="{{id}}" operation="detailed"><%= i('html.button.common.detailed') %><!--详细--></a>
      <a href="#" class="btn btn-default btn-sm" rowId="{{id}}" operation="edit"><%= i('html.button.common.edit') %><!-- 編集--></a>
      <a href="#" class="btn btn-default btn-sm" rowId="{{id}}" operation="delete"><%= i('html.button.common.delete') %><!--删除--></a>
    </td>
  </tr>
</script>



</body>
</html>