<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="/vendor/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/vendor/underscore/underscore-1.5.1.js"></script>
<script type="text/javascript" src="/vendor/socketio/socket.io.js"></script>

<!-- jquery UI -->
<script type="text/javascript" src="/vendor/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
<link rel="stylesheet" href="/vendor/jquery-ui-1.10.3/css/no-theme/jquery-ui-1.10.3.custom.min.css" />

<!-- fontawesome : The iconic font designed for Bootstrap -->
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css" />

<!-- bootstrap : front-end framework for faster and easier web development -->
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />

<!-- alertify : browser dialogs never looked so good -->
<script type="text/javascript" src="/vendor/alertify/alertify.js"></script>
<link rel="stylesheet" href="/vendor/alertify/themes/alertify.css" />
<link rel="stylesheet" href="/vendor/alertify/themes/alertify.bootstrap.css"/>

<!-- colorpicker : A jQuery color picker plugin -->
<script type="text/javascript" src="/vendor/colorpicker/wColorPicker.min.js"></script>
<link rel="stylesheet" href="/vendor/colorpicker/wColorPicker.min.css" />

<!-- jrumble : jRumble is a jQuery plugin that rumbles, vibrates, shakes -->
<script type="text/javascript" src="/vendor/jquery.jrumble.1.3.min.js"></script>

<!-- jcrop : jQuery Image Cropping Plugin -->
<script type="text/javascript" src="/vendor/jcrop/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="/vendor/jcrop/css/jquery.Jcrop.css" />

<!-- lightbox : used to overlay images on top of the current page -->
<script type="text/javascript" src="/vendor/lightbox/lightbox-2.6.min.js"></script>
<link rel="stylesheet" href="/vendor/lightbox/lightbox.css" />

<!-- validator : Nodejs validator -->
<script type="text/javascript" src="/vendor/validator-min.js"></script>

<!-- Application JS -->
<script type="text/javascript" src="/javascripts/yukari.js"></script>

