<div class="sidebar" id="sidebar">
  <ul class="nav nav-list">
    <li>
      <a href="#">
        <span class="menu-text"><%= i('html.label.sidebar.menu') %></span>
      </a>
        <ul class="submenu" style="display: block;">
          <li>
            <a href="/menu/item/list" class="dropdown-toggle">
              <i class="icon-picture"></i>&nbsp;<%= i('html.label.sidebar.menu.item') %>
            </a>
          </li>
          <li>
            <a href="/menu/menu/list" class="dropdown-toggle">
              <i class="icon-th"></i>&nbsp;<%= i('html.label.sidebar.menu.menu') %>
            </a>
          </li>
        </ul>
      </li>
        <li>
        <a href="#">
          <span class="menu-text"><%= i('html.label.sidebar.shop') %></span>
        </a>
        <ul class="submenu" style="display: block;">
          <li>
            <a href="/shop/desk/list" class="dropdown-toggle">
              <i class="icon-columns"></i>&nbsp;<%= i('html.label.sidebar.shop.desk') %>
            </a>
          </li>
        </ul>
        <ul class="submenu" style="display: block;">
          <li>
            <a href="/shop/device/list" class="dropdown-toggle">
              <i class="icon-tablet"></i>&nbsp;<%= i('html.label.sidebar.shop.ipad') %>
            </a>
          </li>
        </ul>
        <!--ul class="submenu" style="display: block;">
          <li>
            <a href="/content/layout" class="dropdown-toggle">
              <i class="icon-print"></i>&nbsp;<%= i('html.label.sidebar.shop.printer') %>
            </a>
          </li>
        </ul>
      </li-->
      <li>
        <a href="#" class="dropdown-toggle">
          <span class="menu-text"><%= i('html.label.sidebar.personal') %></span>
        </a>
        <ul class="submenu" style="display: block;">
          <li>
            <a href="/customer/group" class="dropdown-toggle">
              <i class="icon-user"></i>&nbsp;<%= i('html.label.sidebar.personal.clerk') %>
            </a>
          </li>
        </ul>
      </li>
        <li>
        <a href="#" class="dropdown-toggle">
          <span class="menu-text"><%= i('html.label.sidebar.trade') %></span>
        </a>
        <ul class="submenu" style="display: block;">
          <li>
            <a href="/customer/workstation" class="dropdown-toggle">
              <i class="icon-bar-chart"></i>&nbsp;<%= i('html.label.sidebar.trade.turnover') %>
            </a>
          </li>
        </ul>
      </li>

  </ul><!--/.nav-list-->
</div>

